.home {
    background-color: red;
    height: 773px;
    width: 100%;
    justify-content: space-evenly;
}

.image {
    padding-top: 100px;
    padding-left: 100px;
    border-radius: 20px;
}

.buttons {
    display: flex;
}

.subbut {
    justify-content: center;
}

.task-header {
    height: 100%;
    width: 80%;
    background-color: white;
    padding-top: 25px;
    margin-left: 160px;
    margin-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.card-container {
    height: 300px;
    width: 300px;
    box-shadow: 0px 3px 50px #A5A5A5;
}

.card-wrapper {
    width: 270px;
    height: 200px;
    box-shadow: 0px 3px 50px #A5A5A5;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 20px;
}

.card-top {
    width: 100%;
    height: 10%;
}

.task-holder {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-header {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    height: 30px;
    padding: 1px 1px !important;
    text-align: center;
}

.title-header {
    margin-top: 10px;
    text-align: center;
}

.task-container {
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F7F8;
    padding: 40px 100px;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    border-radius: 5px;
    justify-content: space-evenly;
    margin-top: 10px;
}

.flexbox1 {
    background-color: red;
    width: 40%;
    font-size: 30px;
    padding-top: 200px;
    border-radius: 5px;
    color: white;
    text-align: center;
    justify-items: center;
    margin-bottom: 10px;
}

.flexbox2 {
    border-radius: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 22em;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1em 0;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background-color: red;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin-left: 160px;
}